# Core functionality - changes here should be rare!
/src/app.py                   @Vinai-1705
/src/backend/database.py      @Vinai-1705
/src/backend/routers/auth.py  @Vinai-1705

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Vinai-1705
